{% extends "base.html" %}



{% block content%}
    {% if organizations %}
        {% for organization in organizations %}
        <div class="flex-container">
            <div class="card " style="width: 25rem;">
                <div class="card-body justify-content-center">
                <h5 class="card-title">{{ organization.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">ICO: {{ organization.ico }}</h6>
                <p class="card-text">Description: {{ organization.description }}</p>
                <a href="{{ organization.url }}" class="card-link">{{ organization.url }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No organizations are available.</p>
        {% endif %}
        {{ per_page }}
        {% include "catalog/pagination.html" %}
{% endblock %}