<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">

        {% include "catalog/part_of_nav.html" with name="Previous" page_number=organizations.number|add:-1  per_page=per_page disabled=organizations.has_previous active=False %}

        {% for i in organizations.paginator.page_range %}
            {% include "catalog/part_of_nav.html" with name=i page_number=i  per_page=per_page disabled=True active=organizations.number %}
        {% endfor %}
        
        {% include "catalog/part_of_nav.html" with name="Next" page_number=organizations.number|add:1  per_page=per_page disabled=organizations.has_next active=False %}
    </ul>
</nav>

